
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Join Twitter</title>
</head>
<body>
    <!DOCTYPE html>
    <html>
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <form>
            <label for="fullname">Full Name:</label><br />
            <input type="text" id="fullname" name="fullname" required minlength="2" maxlength="50"><br><br>

            <label for="email">Email Address:</label><br />
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Create Password:</label><br />
            <input type="password" id="password" name="password" required minlength="8" maxlength="20"><br><br>

            <label for="username">Choose Username:</label><br />
            <input type="text" id="username" name="username" required minlength="5" maxlength="15"><br><br>

           
            <input type="checkbox" id="keepsigned" name="keepsigned">
            <label for="keepsigned">Keep me signed on this computer:</label><br />
            <input type="submit" value="Create My Account">
        </form>
    </body>
</html>

</body>
</html>
