@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Contact page.</p>
<h2>Student Name: @Model.StudentName</h2>
<h2>Student Id: @Model.StudentId</h2>
